<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  body{
    text-decoration: underline;
  }
</style>
<body>
  
  <div class="flex">
    <p>Tác Giả:<span>Ca Tây</span></p>
    <p>Đứng thứ 13 trong <span>Top 1000 sách tư duy - Kỹ năng sống bán chạy hàng tháng</span> </p>

  </div>

  <table border="1"> 

    <tr>
      <td>Trần Anh Đức</td>
      <td>03/08/1993</td>

  </tr>
  <tr>
      <td>Kiều Thị Thu Hằng</td>
      <td>04/09/1991</td>

  </tr>
  <tr>
      <td>Vương Thị Lê Na</td>
      <td>06/10/1991</td>

  </tr>
  </table>
</body>
</html>